/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bgColor: #fff;
    --accentColor: #01A79B;
    --shadowColor: #007569;
    --font: 'Karla', sans-serif;
}

body{
    background-color: var(--bgColor);
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
	box-shadow: 0px 5px var(--shadowColor);
}

#userName{
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#content{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding: 0 25px;
}

#footer{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding: 0 25px;
}

#ads{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding: 0 25px;
}

.social-icon {
    text-align: center;
    font-size: 1.3rem;
}

.social-icon a {
    text-decoration:none;
}

.circulo {
    background-color: var(--accentColor);
    color: var(--bgColor);
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
	box-shadow: 0px 3px var(--shadowColor);
}

.circulo:hover {
	box-shadow: 0px 5px var(--shadowColor);
	transform: translateY(-3px);
}

.circulo:active {
	transform: translateY(3px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.title {
	display: block;
    color: var(--accentColor);
	font-family: var(--font);
	text-align: center;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
}

.link {
	display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
	font-family: var(--font);
	text-align: center;
	margin-bottom: 20px;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 5px var(--shadowColor);
    border-radius: 10px;
}

.link:hover {
	box-shadow: 0px 10px var(--shadowColor);
	transform: translateY(-2px);
}

.link:active {
	transform: translateY(6px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.pic {
	display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    width: -webkit-fill-available;
    height: 200px;
    object-fit: cover;
	margin-bottom: 20px;
	transition: all 0.15s;
	box-shadow: 0px 5px var(--shadowColor);
    border-radius: 10px;
}

.pic:hover {
	box-shadow: 0px 10px var(--shadowColor);
	transform: translateY(-2px);
}

.pic:active {
	transform: translateY(6px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.text {
	display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
	font-family: var(--font);
	text-align: justify;
	margin-bottom: 20px;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 5px var(--shadowColor);
    border-radius: 10px;
}

.text:hover {
	box-shadow: 0px 10px var(--shadowColor);
	transform: translateY(-2px);
}

.text:active {
	transform: translateY(6px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.footer {
	display: block;
    background-color: var(--bgColor);
    color: var(--accentColor);
	font-family: var(--font);
	text-align: center;
	margin-bottom: 20px;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 0px var(--shadowColor);
    border-radius: 10px;
}

.footer:hover {
    background-color: var(--accentColor);
    color: var(--bgColor);
	box-shadow: 0px 10px var(--shadowColor);
	transform: translateY(-2px);
}

.footer:active {
	transform: translateY(6px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}

.ads {
	display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
	font-family: var(--font);
	text-align: justify;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 5px var(--shadowColor);
    border-radius: 10px;
}

.ads:hover {
	box-shadow: 0px 10px var(--shadowColor);
	transform: translateY(-2px);
}

.ads:active {
	transform: translateY(6px);
	box-shadow: 0px 0px var(--shadowColor);
    background-color: var(--bgColor);
    color: var(--accentColor);
}